html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-variation-settings: 'opsz' 32;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.radix-themes {
  --default-font-family: var(--font-inter);

  --color-background: var(--gray-1);
  --color-surface: var(--gray-1);
}
