html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings: "opsz" 32;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.radix-themes {
  --default-font-family: var(--font-inter);

  --font-weight-light: 450;
  --font-weight-regular: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 600;

  --color-background: var(--gray-1);
  --color-panel-solid: var(--gray-1);
  --color-surface: var(--gray-1);
}

.rt-TextFieldInput {
  font-weight: var(--font-weight-regular);
}

.rt-TableColumnHeaderCell {
  font-weight: var(--font-weight-bold);
}

.rt-TableCell {
  &:last-child {
    padding-right: 0;
  }
  &:first-child {
    padding-left: 0;
  }
}
