* {
  font-variation-settings: 'opsz' 32;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.radix-themes {
  --default-font-family: var(--font-inter);

  --font-weight-bold: 600;
}
